# Useful Pandas Methods

In [7]:
import pandas as pd

In [15]:
data = {
    "city": ["New York", "Paris", "London", "San Francisco", "Tokyo"],
    "temp_c": [15.0, 13.5, 12.0, 17.0, 25.0]
}
row_labels = [0,1,2,3,4]

In [16]:
df = pd.DataFrame(data,index=row_labels)

### df.assign()

* To create a new column for a given dataframe
* The column names are keywords
* If the values are callable, they are computed on the df and assigned to the new column
* If the values are not callable, they are simply assigned

In [22]:
# using a callable
df = df.assign(temp_f = lambda x: x.temp_c * 9 / 5 + 32)

In [19]:
df

            city  temp_c  temp_f
0       New York    15.0    59.0
1          Paris    13.5    56.3
2         London    12.0    53.6
3  San Francisco    17.0    62.6
4          Tokyo    25.0    77.0

In [20]:
# using a series directly
df = df.assign(temp_fe = df['temp_c'] * 9 / 5 + 32)

In [21]:
df

            city  temp_c  temp_f  temp_fe
0       New York    15.0    59.0     59.0
1          Paris    13.5    56.3     56.3
2         London    12.0    53.6     53.6
3  San Francisco    17.0    62.6     62.6
4          Tokyo    25.0    77.0     77.0